<div class="col-md-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Progress Tracking</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline">
          <!-- timeline time label -->
          <div class="time-label">
            <span class="bg-red"><%= @quotation.created_at.strftime("%Y-%m-%d") %></span>
          </div>
          
          <% if @quotation.quotation_status == "Pending"%>
            <div>
              <i class="fas fa-times bg-red"></i>
              <div class="timeline-item">
                <h3 class="timeline-header no-border">Quotation</h3>
              </div>
            </div>
          <% else %>
            <div>
              <i class="fas fa-check bg-green"></i>
              <div class="timeline-item">
                <h3 class="timeline-header no-border">Quotation Received<br/></h3>
                <% if @quotation.file_quotation.present? %>
                <div class="timeline-body">       
                      <%= link_to 'Download Quotation', @quotation.file_quotation.url, target: :_blank %>
                </div>
                  <% end %>
              </div>
            </div>
          <% end %>

          <% if @quotation.booking.present? %>
            <% if @quotation.booking.status == "Booking Confirmation"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your Booking Confirmation is ready</h3>
                    <% if @quotation.booking.file_booking.present? %>
                  <div class="timeline-body">       
                        <%= link_to 'Download Booking Confirmation', @quotation.booking.file_booking.url, target: :_blank %>
                  </div>
                    <% end %>
                </div>
              </div>
            <% else %>
              <div>
                  <i class="fas fa-times bg-red"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header no-border"><%= link_to "Booking", booking_clients_manage_shipments_path %> Confirmation not ready</h3>
                  </div>
              </div>
            <% end %>
          <% else %>
              <div>
                  <i class="fas fa-times bg-red"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header no-border"><%= link_to "Booking", booking_clients_manage_shipments_path %> Confirmation not ready</h3>
                  </div>
              </div>
          <% end %>

          <% if @quotation.cargo_collection.present? %>
            <% if @quotation.weight_type == "FCL" %>
                <% if @quotation.cargo_collection.status == "Empty Send" %>
                  <div>
                    <i class="fas fa-exclamation bg-yellow"></i>
                    <div class="timeline-item">
                        
                      <h3 class="timeline-header no-border">Empty Send</h3>
                    </div>
                  </div>
                <% elsif @quotation.cargo_collection.status == "Laden Collected"%>
                  <div>
                    <i class="fas fa-check bg-green"></i>
                    <div class="timeline-item">
                        
                      <h3 class="timeline-header no-border">Laden Collected</h3>
                    </div>
                  </div>
                <% else %>
                  <div>
                    <i class="fas fa-times bg-red"></i>
                    <div class="timeline-item">
                        
                      <h3 class="timeline-header no-border">Cargo Collection</h3>
                    </div>
                  </div>
                <% end %>
            <% else %>
                <% if @quotation.cargo_collection.status == "On Plan" %>
                  <div>
                    <i class="fas fa-exclamation bg-yellow"></i>
                    <div class="timeline-item">
                        
                      <h3 class="timeline-header no-border">On Plan</h3>
                    </div>
                  </div>
                <% elsif @quotation.cargo_collection.status == "Collected"%>
                  <div>
                    <i class="fas fa-check bg-green"></i>
                    <div class="timeline-item">
                        
                      <h3 class="timeline-header no-border">Collected</h3>
                    </div>
                  </div>
                <% else %>
                  <div>
                    <i class="fas fa-times bg-red"></i>
                    <div class="timeline-item">
                        
                      <h3 class="timeline-header no-border">Cargo Collection</h3>
                    </div>
                  </div>
                <% end %>
            <% end %>
          <% else %>
            <div>
              <i class="fas fa-times bg-red"></i>
              <div class="timeline-item">
                <h3 class="timeline-header no-border">Cargo not been Collected</h3>
              </div>
            </div>
          <% end %>
          <%= render partial: "clients/manage/shipments/shared/modal_declaration_reject" %>
          <% if @quotation.cargo_declaration.present? %>
            <% if @quotation.cargo_declaration.status == "Draft"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your Cargo Declaration Draft is ready</h3>
                    <% if @quotation.cargo_declaration.file_declaration.present? %>
                  <div class="timeline-body">       
                        <%= link_to 'Download Draft', @quotation.cargo_declaration.file_declaration.url, target: :_blank %>
                  </div>
                  <div class="timeline-footer text-center">     
                    <%= form_for(:cargo_declaration, url: client_update_users_manage_cargo_declarations_path, role:"form-horizontal", method: :patch) do |f|%>  
                        <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <%= f.submit 'Confirm', class: 'btn btn-success'%>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-declaration-reject">Reject</button>
                      </div>
                    <% end %>
                  </div>
                    <% end %>
                </div>
              </div>

            <% elsif @quotation.cargo_declaration.status == "Rejected" %>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your Cargo Declaration Feedback Pending</h3>
                </div>
              </div>
            <% elsif @quotation.cargo_declaration.status == "Confirmed" %>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your Cargo Declaration Complete</h3>
                </div>
              </div>
            <% elsif @quotation.cargo_declaration.status == "Confirmed Cargo Declaration" %>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your Cargo Declaration Complete</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Cargo Declaration</h3>
                </div>
              </div>
            <% end %>
          <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Cargo Declaration</h3>
                </div>
              </div>
          <% end %>

          <% if @quotation.slbl_confirmation.present? %>
            <% if @quotation.slbl_confirmation.status == "Draft"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your BL Confirmation Draft is ready</h3>
                    <% if @quotation.slbl_confirmation.file_confirmation.present? %>
                  <div class="timeline-body">       
                        <%= link_to 'Download Draft', @quotation.slbl_confirmation.file_confirmation.url, target: :_blank %>
                  </div>
                  <div class="timeline-footer text-center">     
                    <%= form_for(:slbl_confirmation, url: client_update_users_manage_slbl_confirmations_path, role:"form-horizontal", method: :patch) do |f|%>  
                        <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <%= f.submit 'Confirm', class: 'btn btn-success'%>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-bl-confirmation-reject">Reject</button>
                      </div>
                    <% end %>
                  </div>
                    <% end %>
                </div>
              </div>
              <%= render partial: "clients/manage/shipments/shared/modal_slbl_reject" %>
            <% elsif @quotation.slbl_confirmation.status == "Rejected" %>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your BL Confirmation Feedback Pending</h3>
                </div>
              </div>
            <% elsif @quotation.slbl_confirmation.status == "Confirmed" %>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your BL Confirmation Complete</h3>
                </div>
              </div>
            <% elsif @quotation.slbl_confirmation.status == "SL/BL Confirmed" %>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your BL Confirmation Complete</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">BL Confirmation</h3>
                </div>
              </div>
            <% end %>
          <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">BL Confirmation</h3>
                </div>
              </div>
          <% end %>

        <% if @quotation.weight_type == "LCL" %>
          <% if @quotation.vessel_depart.present? %>
            <% if @quotation.vessel_depart.status == "Confirmed Vessel Depart"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Vessel Depart</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Vessel Depart</h3>
                </div>
              </div>
            <% end %>
          <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Vessel Depart</h3>
                </div>
              </div>
          <% end %>
        <% end %>

          <% if @quotation.attach_pre_alert.present? %>
            <% if @quotation.attach_pre_alert.status == "Confirmed Attach Pre Alert"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Your Attach Pre Alert is ready</h3>
                    <% if @quotation.attach_pre_alert.file_attach_pre_alert.present? %>
                  <div class="timeline-body">       
                        <%= link_to 'Download Attach Pre Alert', @quotation.attach_pre_alert.file_attach_pre_alert.url, target: :_blank %>
                  </div>
                    <% end %>
                </div>
              </div>
            <% else %>
                <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Attach Pre Alert</h3>
                </div>
              </div>
            <% end %>
          <% else %>
                <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Pre Alert Attach</h3>
                </div>
              </div>
          <% end %>

          <% if @quotation.billing.present? %>
            <% if @quotation.billing.status == "Confirmed Billing"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Billing</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Billing</h3>
                </div>
              </div>
            <% end %>
          <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Billing</h3>
                </div>
              </div>
          <% end %>
          
          <% if @quotation.insurance.present? %>
            <% if @quotation.insurance.status == "Confirmed Insurance"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Insurance</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Insurance</h3>
                </div>
              </div>
            <% end %>
          <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Insurance</h3>
                </div>
              </div>
          <% end %>

          <div class="time-label">
            <span class="bg-green">Complete</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

</script>