<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- /.row -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Recents 5 Request Amendment</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th width="10%">Quotation ID</th>
                  <th width="10%">Date Amendment</th>
                  <th width="15%">Shipper</th>
                  <th width="15%">Consignee</th>
                  <th width="10%">Mode Of Shipment</th>
                  <th width="10%">Logistic Type</th>
                  <th width="10%">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @quotation_1.each do |quotations|%>
                <tr>
                  <td><%= quotations.quotation_id %></td>
                  <td><%= quotations.updated_at.strftime("%Y-%m-%d") %></td>
                  <td><%= quotations.shipper %></td>
                  <td><%= quotations.consignee %></td>
                  <td><%= quotations.mode_of_shipment %></td>
                  <td><%= quotations.type_quotation %></td>
                  <td>
                    <div class="btn-group">
                      <% if quotations.user_id.present? %>
                      <%= link_to '<span>View</span>'.html_safe, users_manage_shipment_path(quotations.quotation_id), data: {turbolinks: false}, class: 'btn btn-primary'%>
                      <% else %>
                      <%= link_to '<span>Proceed</span>'.html_safe, assign_user_users_manage_shipments_path(quotations.quotation_id), :method=> :patch, data: {turbolinks: false}, class: 'btn btn-secondary'%>
                      <% end %>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Recents 5 Request For Quotation</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th width="10%">Quotation ID</th>
                  <th width="10%">Date Request</th>
                  <th width="15%">Shipper</th>
                  <th width="15%">Consignee</th>
                  <th width="10%">Mode Of Shipment</th>
                  <th width="10%">Logistic Type</th>
                  <th width="10%">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @quotation_3.each do |quotations|%>
                <tr>
                  <td><%= quotations.quotation_id %></td>
                  <td><%= quotations.updated_at.strftime("%Y-%m-%d") %></td>
                  <td><%= quotations.shipper %></td>
                  <td><%= quotations.consignee %></td>
                  <td><%= quotations.mode_of_shipment %></td>
                  <td><%= quotations.type_quotation %></td>
                  <td>
                    <div class="btn-group">
                      <% if quotations.user_id.present? %>
                      <%= link_to '<span>View</span>'.html_safe, users_manage_shipment_path(quotations.quotation_id), data: {turbolinks: false}, class: 'btn btn-primary'%>
                      <% else %>
                      <%= link_to '<span>Proceed</span>'.html_safe, assign_user_users_manage_shipments_path(quotations.quotation_id), :method=> :patch, data: {turbolinks: false}, class: 'btn btn-secondary'%>
                      <% end %>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Recents 5 Order</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th width="10%">Quotation ID</th>
                  <th width="10%">Date Order</th>
                  <th width="15%">Shipper</th>
                  <th width="15%">Consignee</th>
                  <th width="10%">Mode Of Shipment</th>
                  <th width="10%">Logistic Type</th>
                  <th width="20%">Staff Status</th>
                  <th width="10%">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @quotation_2.each do |quotations|%>
                <tr>
                  <td><%= quotations.quotation_id %></td>
                  <td><%= quotations.created_at.strftime("%Y-%m-%d") %></td>
                  <td><%= quotations.shipper %></td>
                  <td><%= quotations.consignee %></td>
                  <td><%= quotations.mode_of_shipment %></td>
                  <td><%= quotations.type_quotation %></td>
                  <td>
                    <div style="height: 100px;overflow-y: auto; overflow-x: hidden; ">
                      <% current_user.user_statuses.where(quotation_id: quotations.id).each do |u| %>
                      <label><%= u.created_at.strftime("%Y-%m-%d") %></label>
                      <label><%= u.status %></label><br />
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group">
                      <% if quotations.user_id.present? %>
                      <%= link_to '<span>View</span>'.html_safe, users_manage_shipment_path(quotations.quotation_id), data: {turbolinks: false}, class: 'btn btn-primary'%>
                      <% else %>
                      <%= link_to '<span>Proceed</span>'.html_safe, assign_user_users_manage_shipments_path(quotations.quotation_id), :method=> :patch, data: {turbolinks: false}, class: 'btn btn-secondary'%>
                      <% end %>
                       <%= link_to '<span>Delete</span>'.html_safe,  users_manage_shipment_path(quotations.quotation_id), :method => :delete, data: { confirm: 'Are you sure you want to delete this quotation?' }, class: 'btn btn-danger'%>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>