<div class="card">
    <div class="card-header">
        <h3 class="card-title">Summary Order</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <%= form_for(@quotation, url: users_manage_shipment_path, role:"form-horizontal", method: :patch) do |f|%>
        <div class="form-group row">
            <label for="mode_of_shipment" class="col-sm-3 col-form-label">Mode Of Shipment :</label>
            <div class="col-sm-9">
                <label for="mode_of_shipment"
                    class="col-form-label form-control"><%= @quotation.mode_of_shipment %></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="type_quotation" class="col-sm-3 col-form-label">Type Logistic :</label>
            <div class="col-sm-9">
                <label for="type_quotation" class="col-form-label form-control"><%= @quotation.type_quotation %></label>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Assign User/Staff :</label>
            <div class="col-sm-9">
                <label for="email" class="col-form-label form-control"><%= @quotation.user.email %></label>
            </div>
        </div>
        <% end %>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Quotation</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i></button>
        </div>
    </div>

    <div class="card-body">
        <%= form_for(@quotation, url: send_quotation_users_manage_shipments_path, role:"form-horizontal", method: :patch) do |f|%>
        <div class="custom-file">
            <%= f.file_field :quotation_file, class: 'custom-file-input'%>
            <label class="custom-file-label"
                for="customFile"><%= @quotation.file_quotation.present? ? @quotation.file_quotation.file.filename  : "Choose file" %></label>
        </div>
        <div class="m-2">
            <% if @quotation.file_quotation.present? %>
            <%= link_to 'Download file', @quotation.file_quotation.url, target: :_blank %>
            <% end %>
        </div>
        <div class="my-2">
            <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
        </div>
        <% end %>
    </div>
</div>

<% if @quotation.booking.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Booking</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(:booking, url: users_manage_booking_path, role:"form-horizontal", method: :patch) do |f|%>
            <div class="form-group row">
                <label for="date" class="col-sm-3 col-form-label">Date :</label>
                <div class="col-sm-9">
                    <label for="date" class="col-form-label form-control ronly"><%= @quotation.date %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="shipper" class="col-sm-3 col-form-label">Shipper :</label>
                <div class="col-sm-9">
                    <label for="shipper" class="col-form-label form-control ronly"><%= @quotation.shipper %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="consignee" class="col-sm-3 col-form-label">Consignee :</label>
                <div class="col-sm-9">
                    <label for="consignee" class="col-form-label form-control ronly"><%= @quotation.consignee %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="port_of_loading" class="col-sm-3 col-form-label">Port Of Loading :</label>
                <div class="col-sm-9">
                    <label for="port_of_loading"
                        class="col-form-label form-control ronly"><%= @quotation.port_of_loading %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="port_of_discharge" class="col-sm-3 col-form-label">Port Of Discharge :</label>
                <div class="col-sm-9">
                    <label for="port_of_discharge"
                        class="col-form-label form-control ronly"><%= @quotation.port_of_discharge %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="final_destination" class="col-sm-3 col-form-label">Final Destination :</label>
                <div class="col-sm-9">
                    <label for="final_destination"
                        class="col-form-label form-control ronly"><%= @quotation.final_destination %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="mode_of_shipment_export" class="col-sm-3 col-form-label">Mode Of Shipment :</label>
                <div class="col-sm-9">
                    <label for="mode_of_shipment"
                        class="col-form-label form-control ronly"><%= @quotation.mode_of_shipment %></label>
                </div>
            </div>
            <div class="form-group row" id="form_weight_type_export">
                <label for="weight_type_export" class="col-sm-3 col-form-label">Weight Type :</label>
                <div class="col-sm-9">
                    <label for="weight_type" class="col-form-label form-control ronly"><%= @quotation.weight_type %></label>
                </div>
            </div>
            <div class="form-group row" id="form_fcl_export">
                <label for="fcl_export" class="col-sm-3 col-form-label">FCL :</label>
                <div class="col-sm-9">
                    <label for="weight_fcl" class="col-form-label form-control ronly"><%= @quotation.weight_fcl %></label>
                </div>
            </div>
            <div class="form-group row" id="form_lcl_export">
                <label for="weight_lcl" class="col-sm-3 col-form-label">Weight, Dimension (LxWxH) in Meter :</label>
                <div class="col-sm-9">
                    <label for="weight_lcl" class="col-form-label form-control ronly"><%= @quotation.weight_lcl %></label>
                </div>
            </div>
            <div class="form-group row" id="form_air_export">
                <label for="weight_air" class="col-sm-3 col-form-label">Weight, Dimension (LxWxH) in Centimeter :</label>
                <div class="col-sm-9">
                    <label for="weight_air" class="col-form-label form-control ronly"><%= @quotation.weight_air %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="commodity" class="col-sm-3 col-form-label">Commodity :</label>
                <div class="col-sm-9">
                    <label for="commodity" class="col-form-label form-control ronly"><%= @quotation.commodity %></label>
                </div>
            </div>
            <div class="form-group row">
                <label for="commodity" class="col-sm-3 col-form-label">Booking Confirmation :</label>
                <div class="col-sm-9">
                    <div class="custom-file">
                        <%= f.file_field :file_booking, class: 'custom-file-input'%>
                        <label class="custom-file-label"
                            for="customFile"><%= @quotation.booking.file_booking.present? ? @quotation.booking.file_booking.file.filename  : "Choose file" %></label>
                    </div>
                </div>
            </div>
            <% if @quotation.mode_of_shipment == "Sea" %>
            <div class="form-group row">
                <label for="commodity" class="col-sm-3 col-form-label">Liner Booking Number :</label>
                <div class="col-sm-9">
                    <%= f.text_field :booking_number, class: 'form-control', value: @quotation.booking.booking_number.present? ? @quotation.booking.booking_number  : ""%>
                </div>
            </div>
            <% else %>
            <div class="form-group row">
                <label for="commodity" class="col-sm-3 col-form-label">AWB Number :</label>
                <div class="col-sm-9">
                    <%= f.text_field :booking_number, class: 'form-control', value: @quotation.booking.booking_number.present? ? @quotation.booking.booking_number  : ""%>
                </div>
            </div>
            <div class="form-group row">
                <label for="commodity" class="col-sm-3 col-form-label">Flight Number :</label>
                <div class="col-sm-9">
                    <%= f.text_field :flight_number, class: 'form-control', value: @quotation.booking.flight_number.present? ? @quotation.booking.flight_number  : ""%>
                </div>
            </div>
            <% end %>
            <div class="form-group row">
                <label for="commodity" class="col-sm-3 col-form-label">Vessel :</label>
                <div class="col-sm-9">
                    <%= f.text_field :vessel, class: 'form-control', value: @quotation.booking.vessel.present? ? @quotation.booking.vessel  : ""%>
                </div>
            </div>
            <div class="my-2">
                <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
            </div>
            <% end %>
        </div>
    </div>
<% end %>

<% if @quotation.cargo_collection.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cargo Collection</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(:cargo_collection, url: users_manage_cargo_collection_path, role:"form-horizontal", method: :patch) do |f|%>
                <div class="form-group row">
                    <label for="estimated_collection_date" class="col-sm-3 col-form-label">Estimated Collection Date :</label>
                    <div class="col-sm-9">
                        <%= f.date_field :estimated_collection_date, class: 'form-control', value: @quotation.cargo_collection.estimated_collection_date.present? ? @quotation.cargo_collection.estimated_collection_date  : ""%>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="truck_number" class="col-sm-3 col-form-label">Truck Number :</label>
                    <div class="col-sm-9">
                        <%= f.text_field :truck_number, class: 'form-control', value: @quotation.cargo_collection.truck_number.present? ? @quotation.cargo_collection.truck_number  : ""%>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="driver_name" class="col-sm-3 col-form-label">Driver Name :</label>
                    <div class="col-sm-9">
                        <%= f.text_field :driver_name, class: 'form-control', value: @quotation.cargo_collection.driver_name.present? ? @quotation.cargo_collection.driver_name  : ""%>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="driver_phone_number" class="col-sm-3 col-form-label">Driver Phone Number :</label>
                    <div class="col-sm-9">
                        <%= f.text_field :driver_phone_number, class: 'form-control', value: @quotation.cargo_collection.driver_phone_number.present? ? @quotation.cargo_collection.driver_phone_number  : ""%>
                    </div>
                </div>
                <% if @quotation.mode_of_shipment == "Air" %>
                <div class="form-group row">
                    <label for="truck_type" class="col-sm-3 col-form-label">Truck Type :</label>
                    <div class="col-sm-9">
                        <%= f.text_field :truck_type, class: 'form-control', value: @quotation.cargo_collection.truck_type.present? ? @quotation.cargo_collection.truck_type  : ""%>
                    </div>
                </div>
                <% else %>
                <div class="form-group row">
                    <label for="truck_type" class="col-sm-3 col-form-label">Truck Type :</label>
                    <div class="col-sm-9">
                        <%= f.text_field :truck_type, class: 'form-control', value: @quotation.weight_type.present? ? @quotation.weight_type  : "", readonly: true%>
                    </div>
                </div>
                <% end %>
                <% if @quotation.weight_type == "FCL" %>
                <div class="form-group row">
                    <label for="haulage" class="col-sm-3 col-form-label">Haulage :</label>
                    <div class="col-sm-9">
                        <%= f.text_field :haulage, class: 'form-control', value: @quotation.cargo_collection.haulage.present? ? @quotation.cargo_collection.haulage  : ""%>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="commodity" class="col-sm-3 col-form-label">Upload ROT :</label>
                    <div class="col-sm-9">
                        <div class="custom-file">
                            <%= f.file_field :file_rot, class: 'custom-file-input'%>
                            <label class="custom-file-label"
                                for="customFile"><%= @quotation.cargo_collection.file_rot.present? ? @quotation.cargo_collection.file_rot.file.filename  : "Choose file" %></label>
                        </div>
                    </div>
                </div>
                <% elsif @quotation.weight_type == "LCL" %>
                <div class="form-group row">
                    <label for="lcl_remarks" class="col-sm-3 col-form-label">Remarks :</label>
                    <div class="col-sm-9">
                        <%= f.text_field :lcl_remarks, class: 'form-control', value: @quotation.cargo_collection.lcl_remarks.present? ? @quotation.cargo_collection.lcl_remarks  : ""%>
                    </div>
                </div>
                <% end %>
                <% if @quotation.cargo_collection.status == "On Plan" %>
                    <div class="my-2">
                        <%= link_to '<span>Collected</span>'.html_safe, update_collection_users_manage_cargo_collections_path(@quotation.quotation_id), :method=> :patch, data: {turbolinks: false}, class: 'btn btn-primary', style:"float:right"%>
                    </div>
                <% elsif @quotation.cargo_collection.status == "Empty Send" %>
                    <div class="my-2">
                        <%= link_to '<span>Collected</span>'.html_safe, update_collection_users_manage_cargo_collections_path(@quotation.quotation_id), :method=> :patch, data: {turbolinks: false}, class: 'btn btn-primary', style:"float:right"%>
                    </div>
                <% else %>
                <div class="my-2">
                    <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
                </div>
                <% end %>
                
            <% end %>
        </div>
    </div>
<% end %>

<% if @quotation.cargo_declaration.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cargo Declaration</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(:cargo_declaration, url: users_manage_cargo_declaration_path, role:"form-horizontal", method: :patch) do |f|%>
                    <div class="form-group row">
                        <% if @quotation.cargo_declaration.status == "Confirmed" %>
                            <label for="file_declaration" class="col-sm-3 col-form-label">Upload Final Customs Form:</label>
                        <% else %>
                            <label for="file_declaration" class="col-sm-3 col-form-label">Upload Draft :</label>
                        <% end %>
                            <div class="col-sm-9">
                                <div class="custom-file">
                                    <%= f.file_field :file_declaration, class: 'custom-file-input'%>
                                    <label class="custom-file-label"
                                        for="customFile"><%= @quotation.cargo_declaration.file_declaration.present? ? @quotation.cargo_declaration.file_declaration.file.filename  : "Choose file" %></label>
                                </div>
                            </div>
                    </div>
                    <% if @quotation.cargo_declaration.status == "Confirmed" %>
                    <div class="my-2">
                        <%= f.submit 'Submit Final Form', class: 'btn btn-primary', style:"float:right"%>
                    </div>
                    <% else %>
                    <div class="my-2">
                        <%= f.submit 'Submit', class: 'btn btn-primary', style:"float:right"%>
                    </div>
                    <% end %>
                    
            <% end %>
        </div>
    </div>
<% end %>

<% if @quotation.cargo_submission.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cargo Submission</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(:cargo_submission, url: users_manage_cargo_submission_path, role:"form-horizontal", method: :patch) do |f|%>
                <div class="my-2">
                    <%= f.submit 'Submit', class: 'btn btn-primary', style:"float:right"%>
                </div> 
            <% end %>
        </div>
    </div>
<% end %>

<% if @quotation.flight_depart.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Flight Depart</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(:flight_depart, url: users_manage_flight_depart_path, role:"form-horizontal", method: :patch) do |f|%>
                <div class="my-2">
                    <%= f.submit 'Submit', class: 'btn btn-primary', style:"float:right"%>
                </div> 
            <% end %>
        </div>
    </div>
<% end %>

<% if @quotation.attach_pre_alert.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Pre Alert Attach</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(:attach_pre_alert, url: users_manage_attach_pre_alert_path, role:"form-horizontal", method: :patch) do |f|%>
                <div class="form-group row">
                            <label for="file_declaration" class="col-sm-3 col-form-label">Upload Attach Pre Alert:</label>
                            <div class="col-sm-9">
                                <div class="custom-file">
                                    <%= f.file_field :file_attach_pre_alert, class: 'custom-file-input'%>
                                    <label class="custom-file-label"
                                        for="customFile"><%= @quotation.attach_pre_alert.file_attach_pre_alert.present? ? @quotation.attach_pre_alert.file_attach_pre_alert.file.filename  : "Choose file" %></label>
                                </div>
                            </div>
                    </div>
                <div class="my-2">
                    <%= f.submit 'Submit', class: 'btn btn-primary', style:"float:right"%>
                </div> 
            <% end %>
        </div>
    </div>
<% end %>

<% if @quotation.billing.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Billing</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <%= form_for(:billing, url: users_manage_billing_path, role:"form-horizontal", method: :patch) do |f|%>
                    <div class="my-2">
                        <%= f.submit 'Submit', class: 'btn btn-primary', style:"float:right"%>
                    </div> 
                <% end %>
        </div>
    </div>
<% end %>

<% if @quotation.insurance.present? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Insurance</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
                <%= form_for(:insurance, url: users_manage_insurance_path, role:"form-horizontal", method: :patch) do |f|%>
                    <div class="my-2">
                        <%= f.submit 'Submit', class: 'btn btn-primary', style:"float:right"%>
                    </div> 
                <% end %>
        </div>
    </div>
<% end %>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

</script>