<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Shipments</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to "Dashboard" , users_path %></li>
          <li class="breadcrumb-item"><%= link_to "Shipments" , users_manage_shipments_path %></li>
          <li class="breadcrumb-item active"><%= @quotation.quotation_id %></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">

  <div class="row">
  <div class="col-md-12">
      <p id="error"><%= flash[:danger] %></p>
      <p id="notice"><%= flash[:success] %></p>
  </div>
    <% if @quotation.status == "Request Amendment" %>
      <%= render partial: "users/manage/shipments/shared/amendment" %>
    <% else %>
      <% if @quotation.type_quotation == "Export" %>
        <%= render partial: "users/manage/shipments/shared/export/order" %>
      <% else %>
        <%= render partial: "users/manage/shipments/shared/import/order" %>
      <% end %>
    <% end %>
    
    

</section>