<div class="login-box">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <div class="login-logo">
    <%= image_tag("cargomind.jpg", height: '75') %>
  </div>
    <p class="text-center"> <%= link_to "Login" , new_client_session_path,class:"" %> | <%= link_to "Register", new_client_registration_path,class:"" %> </p> 

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'box'}) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, autofocus: true, autocomplete: "password", placeholder: 'Password', class: 'form-control' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
     <% end %>
      <div class="text-center mt-2"><%= link_to "Forget Password?", new_client_password_path%></div>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>