<div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Details Shipments</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
              title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <%= form_for(@quotation, url: users_manage_shipment_path, role:"form-horizontal", method: :patch) do |f|%>
          <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Status :</label>
            <div class="col-sm-10">
              <%= f.text_field :status, class: 'form-control',readonly: true%>
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date :</label>
            <div class="col-sm-10">
              <%= f.date_field :date, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row">
            <label for="port_of_discharge" class="col-sm-2 col-form-label">To :</label>
            <div class="col-sm-10">
              <%= f.text_field :to, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row">
            <label for="port_of_discharge" class="col-sm-2 col-form-label">Attn :</label>
            <div class="col-sm-10">
              <%= f.text_field :attn, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row">
            <label for="port_of_discharge" class="col-sm-2 col-form-label">Booking No :</label>
            <div class="col-sm-10">
              <%= f.text_field :booking_no, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row">
            <label for="shipper" class="col-sm-2 col-form-label">Shipper :</label>
            <div class="col-sm-10">
              <%= f.text_area :shipper, :rows => 5,class: "form-control", required: true%>
            </div>
          </div>
          <div class="form-group row">
            <label for="consignee" class="col-sm-2 col-form-label">Consignee :</label>
            <div class="col-sm-10">
              <%= f.text_area :consignee, :rows => 5,class: "form-control", required: true%>
            </div>
          </div>
          <div class="form-group row">
            <label for="port_of_loading" class="col-sm-2 col-form-label">Port Of Loading :</label>
            <div class="col-sm-10">
              <%= f.text_field :port_of_loading, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row">
            <label for="port_of_discharge" class="col-sm-2 col-form-label">Port Of Discharge :</label>
            <div class="col-sm-10">
              <%= f.text_field :port_of_discharge, class: 'form-control', required: true%>
            </div>
          </div>
          <div class="form-group row">
            <label for="final_destination" class="col-sm-2 col-form-label">Final Destination :</label>
            <div class="col-sm-10">
              <%= f.text_field :final_destination, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group row">
            <label for="cargo_type_export" class="col-sm-2 col-form-label">Cargo Type :</label>
            <div class="col-sm-10">
              <%= f.select :mode_of_shipment, ['Sea', 'Air'], {}, { :class => 'form-control'} %>
            </div>
          </div>
          <div class="form-group row" id="form_weight_type_export">
            <label for="weight_type_export" class="col-sm-2 col-form-label">Weight Type :</label>
            <div class="col-sm-10">
              <%= f.select :weight_type, ['FCL', 'LCL'], {}, { :class => 'form-control'} %>
            </div>
          </div>
          <div class="form-group row" id="form_fcl_export">
            <label for="fcl_export" class="col-sm-2 col-form-label">FCL :</label>
            <div class="col-sm-10">
              <%= f.select :weight_fcl, ["20'", "40'", "40'HC"], {}, { :class => 'form-control'} %>
            </div>
          </div>
          <div class="form-group row" id="form_lcl_export">
            <label for="weight_lcl" class="col-sm-2 col-form-label">Weight, Dimension (LxWxH) in Meter :</label>
            <div class="col-sm-10">
              <%= f.text_field :weight_lcl, class: 'form-control'%>
            </div>
          </div>
          <div class="form-group row" id="form_air_export">
            <label for="weight_air" class="col-sm-2 col-form-label">Weight, Dimension (LxWxH) in Centimeter :</label>
            <div class="col-sm-10">
              <%= f.text_field :weight_air, class: 'form-control'%>
            </div>
          </div>
          <div class="form-group row">
            <label for="commodity" class="col-sm-2 col-form-label">Commodity :</label>
            <div class="col-sm-10">
              <%= f.text_field :commodity, class: 'form-control'%>
            </div>
          </div>

          <div class="justify-content-center text-center">
            <%= f.submit 'Confirm Order', class: 'btn btn-default btn-block'%>
          </div>

          <% end %>
        </div>
      </div>
    </div>