  <div class="modal fade" id="modal-import" aria-hidden="true" style="display: none;">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Confirm Order</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <%= form_for(:quotation_import, url: users_manage_shipments_path, role:"form-horizontal") do |f|%>
                      <%= f.hidden_field :type_quotation, value: "Import"%>
                      <%= f.hidden_field :user_id, value: current_user.id%>
                      <div class="form-group row">
                        <label for="date" class="col-sm-2 col-form-label">Date :</label>
                         <div class="col-sm-10">
                         <%= f.date_field :date, class: 'form-control', required: true %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="port_of_discharge" class="col-sm-2 col-form-label">To :</label>
                         <div class="col-sm-10">
                         <%= f.text_field :to, class: 'form-control', required: true %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="port_of_discharge" class="col-sm-2 col-form-label">Attn :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :attn, class: 'form-control' , required: true %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="port_of_discharge" class="col-sm-2 col-form-label">Booking No :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :booking_no, class: 'form-control' , required: true %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="shipper" class="col-sm-2 col-form-label">Shipper :</label>
                        <div class="col-sm-10">
                        <%= f.text_area :shipper, :rows => 5,class: "form-control"  , required: true%>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="consignee" class="col-sm-2 col-form-label">Consignee :</label>
                        <div class="col-sm-10">
                        <%= f.text_area :consignee, :rows => 5,class: "form-control" , required: true %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="port_of_loading" class="col-sm-2 col-form-label">Port Of Loading :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :port_of_loading, class: 'form-control' , required: true%>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="port_of_discharge" class="col-sm-2 col-form-label">Port Of Discharge :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :port_of_discharge, class: 'form-control' , required: true%>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="final_destination" class="col-sm-2 col-form-label">Final Destination :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :final_destination, class: 'form-control' , required: true%>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="cargo_type_import" class="col-sm-2 col-form-label">Cargo Type :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :cargo_type, class: 'form-control' , required: true%>
                        </div>
                      </div>
                      <div class="form-group row" id="form_weight_type_import">
                        <label for="weight_type_import" class="col-sm-2 col-form-label">Weight Type :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :weight_type, class: 'form-control'%>
                        </div>
                      </div>
                      <div class="form-group row" id="form_fcl_import">
                        <label for="fcl_import" class="col-sm-2 col-form-label">FCL :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :weight_fcl, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="form-group row" id="form_lcl_import">
                        <label for="lcl_import" class="col-sm-2 col-form-label">Weight, Dimension (LxWxH) in Meter :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :weight_lcl, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="form-group row" id="form_air_import">
                        <label for="air_import" class="col-sm-2 col-form-label">Weight, Dimension (LxWxH) in Centimeter :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :weight_air, class: 'form-control' %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="commodity" class="col-sm-2 col-form-label">Commodity :</label>
                        <div class="col-sm-10">
                        <%= f.text_field :commodity, class: 'form-control' , required: true%>
                        </div>
                      </div>
              </div>
              <div class="modal-footer justify-content-center">
                <%= f.submit 'Draft', class: 'btn btn-default btn-block mt-0'%>
                <%= f.submit 'Send RFQ', class: 'btn btn-default btn-block mt-0'%>
                <%= f.submit 'Confirm Order', class: 'btn btn-default btn-block mt-0'%>
                <button type="button" class="btn btn-default btn-block mt-0" data-dismiss="modal">Close</button>
              </div>
            </div>
             <% end %>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>